
body {

margin:0px;
padding:0px;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container div {
  box-sizing: border-box;
  min-width: 150px;
}

.header {
  width: 100%;
  min-height: 150px;
  background-image: url(top_bg_big.png);
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  float: left;
  line-height:30px;
}

.my-bg-image {
  background-image: url(top_bg_big.png);
  width: 100%;  
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sidebar {
  width: 100%;
  float: right;
  padding: 4%;
}

.titles {
  font-weight:bold;
  font-size: 16px;
}

@media (min-width: 600px) {
  .header {
    width: 100%;
    min-height: 150px;
    background-image: url(top_bg_big.png);
    background-repeat: no-repeat;
    -webkit-order: 21;
    order: 1;
  }

  .content {
    padding-left: 10%; 
    width: 75%;
    min-height: 100%;
    -webkit-order: 2;
    order: 2;
  }

  .sidebar {
    width: 25%;
    float: right;
    min-height: 150px;
    -webkit-order: 3;
    order: 3;
  }
}


@media (min-width: 800px) {
  .header {
    width: 100%;
    background-image: url(top_bg_big.png);
    background-repeat: no-repeat;
    min-height: 250px;
    -webkit-order: 21;
    order: 1;
  }

  .content {
    width: 75%;
    float: left;
    min-height: 150px;
    padding-right: 4%;
    -webkit-order: 2;
    order: 2;
  }

  .sidebar {
    float: right;
    width: 25%;
    min-height: 150px;
    -webkit-order: 3;
    order: 3;
  }
}

.content a:link {
	color: #4f8dff;
	}
	
.content a:hover {
	color: #4fedff;
	font-weight: bold;
	}

.content a:active {
	color: #be4fff;
	}

.content b:



h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #595959;
    font-size: 32px;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0;
}

strong{
	font-weight: bold;
}

@media all and (max-width: 600px) {
    
    h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: #595959;
    font-size: 23px;
    padding: 3%;
    margin: 0;
}
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    color:#F7F7F7;
    font-size: 16px;
    padding: 14px;
    margin: 0;
    text-align: center;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #424242;
    font-size: 15px;
    line-height: 1.6em;
    padding-bottom: 2%;
}

@media all and (max-width: 600px) {
    
    p{
    font-family: 'Roboto Condensed', sans-serif;
    color: #424242;
    font-size: 11px;
    padding: 3%;
    margin: none;
    line-height: 1.6em;
}
}

.navigation {
  list-style: none;
  padding-right: 2%;
  margin: 0;
  background: #A6A6A6;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  padding: 1.2em;
  color: white;
}

.navigation a:hover {
  background: #BDBDBD;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

#buzz-word {
    color: whitesmoke;
	background:rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 27%;
    margin-right: 27%;
    font-size: 3em;
    border: 2px;
    border-style: solid;
    padding: 1%;
}

@media all and (max-width: 600px) {
    #buzz-word {
    color: whitesmoke;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2em;
    border: 1px;
    border-style: solid;
    padding: 1%;
    
    }
}
#footer{
   padding-left: 10%;
   padding-top: 2%;
   color: #424242;
   text-decoration: none;
   border-top-width: 1px;
   border-style: solid;
   border-color: #EAEAEA;
   font-size: 11px;
}
#fotter a:visited {
    color: #424242 !important;
}


.menu{
    color: #424242;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6em;
    padding-top: 15%;
}

@media all and (max-width: 600px) {
    
    .menu{
    text-decoration: none;
    color: #424242;
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6em;
    padding-top: 5%;
    
}
}
.menu ul li a:visited {
    color: #424242;
}

.menu ul li a:hover {
color: #ADADAD;
}

a {
    color: #424242;
}

